# Node
node_modules/

# Expo
.expo/
.expo-shared/
dist/
public/
web-build/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Vercel local
.vercel/

# Logs
npm-debug.log*
yarn-error.log*

# Certificates / keys
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Local env
.env*.local

# Typescript build info
*.tsbuildinfo

# Keep lockfile tracked
#! package-lock.json
